.admin {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fbf8ec;
	overflow: hidden;
	&__header {
		width: 100%;
		padding: 20px 20px 0 20px;
		background-color: $orange;
	}
	// &__header-content {}
	&__header-page {
		display: flex;
		column-gap: 10px;
	}
	&__header-link {
		padding: 15px 20px;
		background-color: #388aaa;
		color: $white;
		border-radius: 8px 8px 0 0;
		transition: 0.2s;
		border: 2px solid transparent;
		&:hover {
			border: 2px solid #388aaa;
		}
		&._active {
			background-color: #272727;
		}
	}

	&__wrapper {
		display: flex;
		height: 100%;
	}
	&__aside-menu {
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		background-color: $orange;
		cursor: pointer;
		svg {
			fill: $white;
			width: 30px;
			height: 30px;
			transform: rotate(90deg);
		}
		._active {
			svg {
				transform: rotate(-90deg);
			}
		}
	}
	&__aside {
		height: 100%;
		min-width: 316px;
		background-color: #272727;
		padding: 20px;
	}

	&__aside-list {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		row-gap: 10px;
	}

	// &__aside-li {}

	&__aside-tab {
		padding: 15px 20px;
		display: block;
		color: $white;
		transition: 0.2s;
		border-radius: 8px;
		border: 2px solid transparent;
		transition: 0.2s;
		&:hover {
			border: 2px solid $orange;
		}
		&._active {
			background-color: $orange;
		}
	}

	&__main {
		width: 100%;
		height: 100%;
		padding: 30px 0;
		overflow: hidden;
		position: relative;
	}

	.background-loader {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: 0.1s;
		&._visible {
			opacity: 1;
			visibility: visible;
		}
	}

	&__content {
		margin: 0 auto;
		display: none;
		padding: 0 10px;
		max-width: 1000px;
		overflow: hidden;
		&._active {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
		}
	}

	&__title {
		font-size: 34px;
		font-weight: bold;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&_input {
			max-width: 300px;
			&::placeholder {
				color: #bfbfbf;
			}
		}
		&_button {
			text-align: center;

			color: $white;
			font-weight: bold;
			padding: 15px 25px;
			border-radius: 8px;
			transition: 0.2s;

			&.create {
				background-color: rgba(56, 138, 170, 0.6);
				border: 2px solid #388aaa;
				&:hover {
					background-color: #388aaa;
				}
			}
			&.update {
				background-color: rgba(111, 192, 91, 0.6);
				border: 2px solid $green;
				opacity: 0;
				visibility: hidden;
				&:hover {
					background-color: $green;
				}
				&._active {
					opacity: 1;
					visibility: visible;
				}
			}
			&.delete {
				background-color: rgba(255, 102, 51, 0.6);
				border: 2px solid $orange;
				opacity: 0;
				visibility: hidden;
				&:hover {
					background-color: $orange;
				}
				&._active {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__wrapper-table {
		overflow: auto;
		width: 100%;
		padding-bottom: 4px;
		max-height: 550px;
		&::-webkit-scrollbar {
			height: 6px;
			width: 6px;
		}
	}

	&__table {
		border-collapse: collapse;
		border: 3px solid $border_table;
		width: 100%;
		&_thead {
			border-bottom: 3px solid $border_table;
		}
		&_title {
			white-space: nowrap;
			padding: 10px;
			cursor: pointer;
			border-right: 2px solid $border_table;
			._icon-arrow {
				margin: 0 0 0 10px;
				position: relative;
				width: 16px;
				height: 16px;
				display: inline-block;
				transition: 0.2s;
				&::before {
					position: absolute;
					right: 0;
					top: 2px;
					transform: rotate(-90deg);
				}
			}
			&:hover {
				color: $orange;
			}
			&._active {
				background-color: $orange;
				color: $white;
				._icon-arrow {
					&::before {
						transform: rotate(0);
					}
				}
			}
			&._checkbox {
				padding: 0;
				label {
					padding: 10px;
					cursor: pointer;
				}
			}
		}

		// &_tbody {}

		&_row {
			border-bottom: 2px solid $border_table;
		}

		&_cell {
			padding: 6px 10px;
			cursor: pointer;
			white-space: nowrap;
			border-right: 2px solid $border_table;
			// -webkit-line-clamp: 2;
			// display: -webkit-box;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 2px;
				background-color: $orange;
				opacity: 0;
			}
			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 2px;
				background-color: $orange;
				opacity: 0;
			}
			&:hover {
				color: $orange;
			}
			&._checkbox {
				padding: 0;
				label {
					padding: 6px 10px;
					cursor: pointer;
					text-align: center;
					display: block;
				}
			}
		}
		&_checkbox {
			cursor: pointer;
		}
	}
	&__wrapper-pagination {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: -20px;
	}

	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 8px;
		border: 2px solid $orange;
		background-color: $light_orange;
		transition: 0.2s;
		color: $white;
		cursor: pointer;
		&:hover {
			color: $orange;
		}
		&._active {
			background-color: $orange;
			color: $white;
		}
	}

	// &__pagination-count {
	// }
}
