<aside class="catalog-products__filters">
  <div class="catalog-products__filters_body">
    <div class="catalog-products__filters_wrapper-title">
      <h3 class="catalog-products__filters_title">Фильтр</h3>
      <div class="catalog-products__filters_close-filtres filtres-close"></div>
    </div>

    <div class="filters_box-paramets">
      <div class="filters_box-paramets__header">
        <span class="filters_box-paramets__price">Цена</span>
        <button class="filters_box-paramets__btn catalog-products-btn">Очистить</button>
      </div>
      <div class="filters_box-paramets__body">
        <input class="filters_box-paramets__input" type="number" id="min-price">
        <span></span>
        <input class="filters_box-paramets__input" type="number" id="max-price">
      </div>
      <div class="filters_box-paramets__sliders">

      </div>
    </div>

    <div class="filters-products">

    </div>

    <div class="filters__wrapper-checkbox">
      <label for="checkbox" class="filters__wrapper-checkbox__lable">
        <input id="checkbox" class="filters__wrapper-checkbox__checkbox" type="checkbox">
        <div class="filters__wrapper-checkbox__checkbox-item"></div>
      </label>
      <span class="filters__wrapper-checkbox__span">В наличие</span>
    </div>

    <button class="catalog-products__filters_button">Применить</и>

  </div>
</aside>