<div class="catalog-products__content">
  <nav class="filter-menu">
    <button class="filter-adaptive-active">Фильтр</button>
    <ul class="filter-menu__list">
      <li class="filter-menu__item filter-menu__item-clear none">
        <span class="filter-menu__item-span">Очистить фильтры</span>
        <span class="filter-menu__item-close"></span>
      </li>
    </ul>
  </nav>
  <div id="products-container" class="catalog-products__wrapper" data-typeid=@@id>
    <!-- Здесь выводятся карточки -->
  </div>
  <div class="catalog-products__footer">

  </div>
</div>