<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<nav class="footer__menu">
				<a href="index.html" class="footer__logo-link"><img src="img/logo-footer.png" alt="" class="footer__logo"></a>
				<ul class="footer__menu-list">
					<li class="footer__menu-item"><a href="about.html" class="footer__menu-link">О компании</a></li>
					<li class="footer__menu-item"><a href="contacts.html" class="footer__menu-link">Контакты</a></li>
					<li class="footer__menu-item"><a href="openings.html" class="footer__menu-link">Вакансии</a></li>
					<li class="footer__menu-item"><a href="articles.html" class="footer__menu-link">Статьи</a></li>
					<li class="footer__menu-item"><a href="discount.html" class="footer__menu-link">Акции</a></li>
				</ul>
			</nav>
			<nav class="footer__contact">
				<ul class="footer__contact-list">
					<li class="footer__contact-item"><a href="" class="footer__contact-link"><img src="img/svg/instagram.svg"
								alt=""></a></li>
					<li class="footer__contact-item"><a href="" class="footer__contact-link"><img src="img/svg/vk.svg" alt=""></a>
					</li>
					<li class="footer__contact-item"><a href="" class="footer__contact-link"><img src="img/svg/facebook.svg"
								alt=""></a></li>
					<li class="footer__contact-item"><a href="" class="footer__contact-link"><img src="img/svg/odnaklasshiki.svg"
								alt=""></a></li>
				</ul>
				<a href="tel:+88007773333" class="footer__contact-tel _icon-phone">8 800 777 33 33</a>
			</nav>
		</div>
	</div>
</footer>