<head>
	<title>@@title | Интернет-магазин Северяночка</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/libs/Swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="assets/libs/Choices/choices.min.css">
	<link rel="stylesheet" href="assets/libs/nouiSlider/nouislider.min.css">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="shortcut icon" href="img/svg/favicon.ico">
</head>